* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* width: 100%; */
  font-family: "Nunito", "Sans-serif";
  font-size: 10px;
  color: black;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 10%;
  /* width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: auto;
  padding-right: auto;
  margin: 0 auto; */
  background-color: #3b5ff3;

  position: relative;
  top: 0;
}

.nav-right ul {
  list-style: none;
}
.nav-right li a {
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 20px;
  font-weight: 500;
}

.nav-right li a:hover {
  color: #3b5ff3;
  background-color: white;
  padding: 8px;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 4px 5px -3px #888;
}
.nav-right ul li a {
  width: 100%;
  display: flex;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 7px;
  /* padding-top: 15px; */
}

/* .nav-right ul{
  position: relative;
padding-left: 40%;  
left: 1S00px;
}
.nav-right li{
    display: inline-block;
    padding: 9px 25px;
} */
nav li,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
/* a {
    text-decoration: none;
    color: inherit;
  } */

/* .menu-toggle {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    display: none;
    z-index: 999;
  } */

nav {
  position: relative;

  display: flex;

  align-items: center;
  width: 70%;
  max-width: 1200px;
  padding: 5px 10px;

  /* border-bottom: 0.2px solid rgba(0, 0, 0, 0.75); */
}
.logo {
  display: block;
  margin-left: 0px;
  width: 15%;
  box-sizing: border-box;
}

.logo img {
  margin: 0px;
  display: block;
  width: 100%;
}

nav ul {
  text-align: center;
  height: 16px;
  list-style: none;
  display: flex;

  font-size: 0px;
}

.nav-middle ul li {
  /* padding: 0 em; */
  line-height: 3px;
  transition: background-color 0.5s;
}

/* .nav-right a {
  position: relative;
  text-decoration: none;
  color: #4861a9;
  font-size: 20px;
  padding: 10px;
  top: 11px;
} */

section.banner {
  position: relative;
  display: flex;
  padding: 10px 110px;
  margin: 0 auto;
  align-items: center;
}
.nav-middle {
  position: relative;
  /* left: 25%; */
  align-items: center;
  width: 150%;

  padding: 20px 10px;
  margin: 0 auto;
}
.nav-middle ul {
  white-space: nowrap;

  margin: 0 auto;
}
.nav-middle li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;

  width: 25%;
  font-size: 20px;
  display: inline-block;

  /* border-bottom: 0.2px solid rgba(0, 0, 0, 0.75);
    z-index: 1000; */
}

.nav-middle li a {
  text-decoration: none;
  color: white;
}

main {
  position: relative;
  left: 30px;
  max-width: 100%;
  width: 1200px;
  /* margin-top: 40px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; */
  /* margin-top: 40px;
  margin-bottom: 40px; */
  padding: 0 100px;
  /* margin-left: 60px;
  margin-right: 0px; */
  margin: 40px auto;
  box-sizing: border-box;
}

.search form ul {
  padding-left: 50px;
}
.search form li {
  text-align: left;
  display: inline-block;
}

.search .form-control:hover {
  border: 3px solid #3b5ff3;
}
form input {
  margin: 10px 10px;
  margin-left: 0px;
  margin-right: 70px;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 12px;
  border: 3px solid rgb(218, 218, 218);
}
.search .form-control:hover {
  border: 3px solid #3b5ff3;
}
.search form ul p {
  font-size: 20px;
  margin: 0px;
}

.search form p:nth-last-child(1) {
  font-size: 18px;
  padding: 3px 6px;
  border-radius: 28px;
  border: 3px, soild #3b5ff3;
  background-color: #3b5ff3;
  color: white;
  cursor: pointer;
}

.search form p:nth-last-child(1):hover {
  background-color: #5670da;
  border: 3px solid #5670da;
  box-shadow: 0px 4px 5px -3px #888;
}
h1 {
  padding: 20px 0;
  padding-left: 4px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-info p {
  font-size: 20px;
}

.signup-button a {
  font-size: 15px;
  padding: 4px;
  text-decoration: none;
  color: white;
  background-color: #3b5ff3;
}

.background2 {
  position: relative;
  top: -190px;
}
.background2 img {
  width: 65%;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 340px;
}

.middle {
  position: relative;
  top: -100px;

  background: #f5f5f5;
  padding: 10px 20px;
  padding-bottom: 30px;
}

.middle h2 {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-top: ;
}
.icon {
  text-align: center;
  width: 1200px;
  max-width: 100%;

  margin: 40px 0;
  margin-bottom: 10px;
  white-space: nowrap;
}
.icon ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

.icon li {
  display: inline-block;
  width: 5%;
  padding: 0 auto;

  margin: 5px 10%;
}

.icon li img {
  max-width: 100%;
}

.discription {
  text-align: center;
  max-width: 100%;
  width: 1200px;
  margin: 0px auto;
  padding: 0px auto;
  box-sizing: border-box;
}

.discription li {
  padding: 0 auto;
  display: inline-block;
}
.discription li p {
  position: relative;
  top: 0px;
  padding-right: 70px;
  padding-left: 70px;
  font-size: 17px;
  margin: 0px;
}

.about {
  position: relative;
  top: -60px;
  max-width: 100%;
  width: 1200px;
  margin: 0px auto;
  padding: 0 100px;
  box-sizing: border-box;
}
.about h2 {
  text-align: center;
  font-size: 25px;
}
.about p {
  line-height: 2em;
  font-size: 20px;
}
.facts {
  position: relative;
  top: -60px;
  text-align: center;
  max-width: 100%;
  width: 1200px;
  margin: 8px auto;
  /* padding: 0 100px; */
  box-sizing: border-box;
}
.facts ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
.facts li {
  width: 33%;
  padding: 0 auto;
  display: inline-block;
}
.facts h3 {
  font-size: 30px;
  color: #3b5ff3;
}
.facts p {
  font-size: 20px;
}

footer {
  background-color: #626262;
  color: white;
  padding-top: 20px;
  position: relative;
  width: 1200;
  bottom: 0;
}

footer ul {
  list-style: none;
  width: 50%;
  display: inline-block;
}
footer {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 13px;
}

footer ul :nth-child(2) {
  align-content: right;
}
/* pseudo classes */

.nav-middle li a:hover {
  text-decoration: underline;
}

.background2 img:hover {
  position: relative;
  top: -4px;
}
.recent {
  max-width: 15%;
  padding: 5px;
  display: inline-block;
}
.recent-search {
  width: 100%;
  align-content: center;
}

.images {
  max-width: 75%;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}
.images:hover {
  box-shadow: 0px 4px 5px -3px #888;
}

.recent h4 {
  font-size: 15px;
  margin-bottom: 0px;
  cursor: pointer;
}
.recent h4:hover {
  text-decoration: underline;
}

.company {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
.company:hover {
  text-decoration: underline;
}

.location {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
.location:hover {
  text-decoration: underline;
}

.save {
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #3b5ff3;
  cursor: pointer;
}
.save:hover {
  color: #5670da;
}

.title h1 {
  padding-top: 50px;
  font-size: 30px;
}

.suggestion {
  max-width: 15%;
  padding: 5px;
  display: inline-block;
}
.suggested-job {
  width: 100%;
}

.image2 {
  max-width: 75%;
  padding: 5px;
  display: inline-block;
}

.suggestion h4 {
  font-size: 15px;
  margin-bottom: 0px;
  cursor: pointer;
}
.suggestion h4:hover {
  text-decoration: underline;
}
.company-2 {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.location-2 {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.save-2 {
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #3b5ff3;
}

.company-2 {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
.company-2:hover {
  text-decoration: underline;
}

.location-2 {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
.location-2:hover {
  text-decoration: underline;
}

.save-2 {
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #3b5ff3;
  cursor: pointer;
}
.save-2:hover {
  color: #5670da;
}
