* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 10%;
  background-color: rgb(243, 242, 242);

  position: relative;
  top: 0;
}

header li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

header li p {
  position: relative;
  right: 160px;
  font-weight: bold;
  font-size: 20px;
}

.icon {
  max-width: 50%;
  padding: 5px;
}
.icon img {
  width: 100%;
  cursor: pointer;
}

.background {
  position: relative;
  top: 0%;
  left: 0%;
  display: flex;
  align-content: left;
  width: 50%;
}

.background img {
  padding-top: 30px;
  width: 100%;
}

.welcome {
  display: flex;
  align-content: center;
  padding: 30px 10%;
}

.welcome li {
  list-style: none;
}

.welcome li h1 {
  padding-top: 30 px;
  font-size: 45px;
}

.welcome li p {
  padding-top: 26px;
  font-size: 20px;
}

/* Form */
/* .input-box {
    border-radius: 20px;
    padding: 10px;
    padding-left: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
  } */

.register-right {
  
  position: relative;
  left: 300px;
  bottom: 650px;

  width: 400px;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.6); */
  background: rgb(247, 246, 246);
  padding: 30px;
  margin: 8% auto 0;
  text-align: center;

}

.register-right h2 {
    font-size: 30px;
    padding: 0 auto;
    margin-top: 0px;
  }
  .register-form {
  
    align-content: center;
    padding: 10px 10%;
    width: 370px;
  }

  .form-group {
    width: 100%;
  }
  .form-control {
    max-width: 90%;
    border-radius: 20px;
    padding: 10px;
    padding-right: 0px;
    padding-left: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
    outline: none;
  }

  .form-control:hover{
    border: 1px solid #3b5ff3 ;
  }
  .or {
    text-align: center;
    font-size: 20px;
  }

  .or p {
    padding: 5px;
    margin: 0px;
  }

  /* button */
  .continue {
    padding: 5px;
    color: #3b5ff3;
  }
  button {
    background-color: #3b5ff3;
    border: 3px solid #3b5ff3;
    border-radius: 24px;
    width: 60%;
    color: white;
    padding: 5px;
    cursor: pointer;
    outline: none;
  }
  .continue  button:hover{
    background-color: #5670da;
    border: 3px solid #5670da;
    box-shadow: 0px 4px 5px -3px #888;
  }
}
.btn-primary {
  padding: 5px;
}

footer{
    text-align: right;
    padding: 10px 10%;

}
footer span{
    color: #3B5FF3;
}